@import "../../../sass/variables";

#avatar-id{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 5px solid $notifications-color;
  margin-left: -150px;
  left: 50%;
  position: absolute;
}

#chooseFile{
margin-left: auto;
  margin-right: auto;
}

#img-container{
  height: 310px;
  margin-top: 10px;
}