@import "../../sass/variables";

.tiles-list{
  max-height: 100vh;
  overflow: auto;
}

//hide scrollbar
::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

#user-panel-wrapper{
  width: 100%;
  max-height: 100vh;
}

.top-users{
  background-color: $notifications-dark-color;
  color: $font-color;
  height: 100vh;
}

.user-panel{
  padding: 0;
}