<div *ngIf="!isAuthenticated">
    <auth-form></auth-form>
</div>
<div id="user-panel-wrapper" *ngIf="isAuthenticated">
    <div class="col-md-2 user-panel" style="position: fixed; top: 0; left: 0;">
        <user-panel (showNotificationsListEvent)="showList(contentTypeEnum.NOTIFICATIONS)"
                    (showChallengesListEvent)="showList(contentTypeEnum.CHALLENGES)"
                    (showFriendsListEvent)="showList(contentTypeEnum.FRIENDS)"
                    (showAvatarModalEvent)="showAvatarModal()">

        </user-panel>
    </div>

    <div class="col-md-7 col-md-offset-2 main-section">

        <div class="tiles-list row">
            <challenge-box *ngIf="mainContentSection==contentTypeEnum.CHALLENGES"></challenge-box>
            <friend-box (showProfileEvent)="showProfile($event)"
                        *ngIf="mainContentSection==contentTypeEnum.FRIENDS">
            </friend-box>
            <user-profile [userId]="userId" *ngIf="mainContentSection==contentTypeEnum.PROFILE"></user-profile>
            <challenge-details [challengeId]="challengeId"
                               *ngIf="mainContentSection==contentTypeEnum.CHALLENGE"></challenge-details>
            <notification-box (showChallengeEvent)="showChallenge($event)"
                              (showProfileEvent)="showProfile($event)"
                              *ngIf="mainContentSection==contentTypeEnum.NOTIFICATIONS"></notification-box>
        </div>
    </div>
    <div class="top-users">
        <top-users-panel></top-users-panel>
    </div>

    <modal #avatarModal>
        <modal-header>
            <h6 class="modal-title">Avatar upload...</h6>
        </modal-header>
        <modal-content>
            <file-upload-panel></file-upload-panel>
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="avatarModal.close()">Close</button>
        </modal-footer>
    </modal>

    <modal #createChallengeModal>
        <modal-header>
            <h6 class="modal-title">Create challenge</h6>
        </modal-header>
        <modal-content>
            <challenge-creator></challenge-creator>
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="createChallengeModal.close()">Close</button>
        </modal-footer>
    </modal>

    <modal #createChangePasswordModal>
        <modal-header>
            <h6 class="modal-title">Change password</h6>
        </modal-header>
        <modal-content>
            <!--<form method="POST" action="/changePassword">-->
            <input class="validate" id="old-password" name="username" type="text" placeholder="Old password" required>
            <input class="validate" id="new-password" name="username" type="text" placeholder="New password" required>
            <input class="validate" id="matching-password" name="username" type="text" placeholder="Matching password"
                   required>
            <button id="btnSubmit" (click)="changePassword()" type="submit"
                    class="btn waves-effect waves-light col s12">
                Sign Up
            </button>
            <!--</form>-->
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="createChangePasswordModal.close()">Close</button>
        </modal-footer>
    </modal>

</div>
