<div *ngIf="!isAuthenticated">
    <login-panel *ngIf="!isAuthenticated"></login-panel>
    <!--<registration-panel *ngIf="!isAuthenticated"></registration-panel>-->
</div>

<div id="user-panel-wrapper" *ngIf="isAuthenticated">
    <user-panel ></user-panel>
    <div class="challenges-secion" class="col-md-6">
        <challenge-box></challenge-box>
    </div>
    <div id="challenge-creator" class="col-md-6">
        <challenge-creator></challenge-creator>
    </div>
    <!--<file-upload-panel></file-upload-panel>-->
</div>
