# Add any directories, files, or patterns you don't want to be tracked by version control
*.idea
*build
*classes
*src/.idea
*js
*js.map
*.css
*.css.map

# vs-code editor trash
.vscode-upload.json

# npm
package-lock.json
src/main/resources/static/node_modules/
src/main/resources/static/package-lock.json