#user-panel {
  height: 100vh;
  padding: 0;
  background-color: #000; }

#user-images {
  height: 150px;
  width: 100%; }

#user-panel-heading {
  color: #fff;
  padding: 25px 0 20px 20px;
  border-bottom: 1px solid #232323; }
  #user-panel-heading h2 {
    margin: 0; }
  #user-panel-heading .heading-desc {
    color: #6b6c6e; }

#user-background {
  height: 100%;
  width: 100%; }

#avatar-wrapper {
  margin-top: 40px;
  position: relative;
  height: 60px; }
  #avatar-wrapper #user-profile-image {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-size: cover; }
  #avatar-wrapper .change-avatar-link {
    cursor: pointer;
    background: #267aea;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    z-index: 0;
    left: 55%;
    top: -10px;
    transition: transform .3s; }
    #avatar-wrapper .change-avatar-link i {
      color: #fff; }
    #avatar-wrapper .change-avatar-link:hover {
      transform: scale(1.2); }

#user-menu {
  margin-top: 35px;
  margin-bottom: 30px; }
  #user-menu a {
    color: #7b7c81;
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0; }
  #user-menu .user-menu-item {
    color: #7b7c81;
    padding: 20px 0;
    cursor: pointer;
    font-size: 14px;
    border-top: 1px solid #232323;
    transition: all .3s;
    position: relative;
    overflow: hidden; }
    #user-menu .user-menu-item i, #user-menu .user-menu-item span {
      display: inline-block;
      padding-left: 20px; }
    #user-menu .user-menu-item span.new-notification {
      background: #bc2742;
      border-radius: 5px;
      padding: 3px 7px;
      margin-left: 10px;
      vertical-align: middle;
      font-size: 11px;
      color: #fff;
      text-transform: uppercase; }
    #user-menu .user-menu-item:after {
      content: '';
      display: block;
      background: #2e274b;
      border-radius: 20%;
      width: 30px;
      height: 30px;
      transform: translateY(-50%) rotate(45deg);
      position: absolute;
      top: 50%;
      right: -40px;
      transition: all .3s; }
    #user-menu .user-menu-item:last-of-type {
      border-bottom: 1px solid #232323; }
    #user-menu .user-menu-item:hover {
      color: #fff;
      font-weight: bold; }
      #user-menu .user-menu-item:hover:after {
        right: -15px; }

#user-panel-content {
  height: 600px; }

#user-name {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold; }
  #user-name span {
    color: #91bee7; }

#user-searches {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px; }

#search-challenge, #search-friends {
  clear: both; }

#new-challenge-btn {
  background: #2b78fc;
  margin: 15px auto;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1px;
  padding: 10px 12px;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.15);
  cursor: pointer;
  transition: transform .3s; }
  #new-challenge-btn:hover {
    transform: scale(1.2); }

.modal-title {
  text-align: center; }

#menu-buttons {
  margin-top: 30px; }

.menu-button {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12px; }

/*# sourceMappingURL=user-panel.component.css.map */
