<div *ngIf="!isLoading" id="user-panel">
    <div id="user-images">
        <div id="user-background">
            <img id="user-profile-image" class="col-offset-4 col-md-4 valign profile-image-login"
                 src="avatars\user\{{userDetails.id}}.jpg" (click)="avatarModal.open()"
                 onerror="this.src='avatars\\default\\not-found-avatar.jpg'">
        </div>
    </div>
    <div id="user-panel-content">
        <div id="user-data">
            <div id="user-name" class="col-md-7">
                {{userDetails.firstName}}
                {{userDetails.lastName}}
            </div>
            <img class="col-md-offset-2 col-md-1 notification-icon" src="images\black-message.png"
                 *ngIf="newNotification==false" (click)="showNotification()">
            <img class="col-md-offset-2 col-md-1 notification-icon" src="images\red-message.png"
                 *ngIf="newNotification==true" (click)="showNotification()">

            <div id="user-searches">
                <div id="search-challenge">
                    <challenge-search-input></challenge-search-input>
                </div>

                <div id="search-friends">
                    <user-search-input></user-search-input>
                </div>
            </div>

            <div id="menu-buttons" class="col-md-2  col-md-offset-1">
                <button id="button-create-challenge" class="btn btn-primary menu-button"
                        (click)="createChallengeModal.open()">
                    Create challenge
                </button>
                <button id="button-change-password" class="btn btn-primary menu-button"
                        (click)="createChangePasswordModal.open()">
                    Change password
                </button>

            </div>
        </div>
    </div>
</div>

<modal #avatarModal>
    <modal-header>
        <h6 class="modal-title">Avatar upload...</h6>
    </modal-header>
    <modal-content>
        <file-upload-panel></file-upload-panel>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="avatarModal.close()">Close</button>
    </modal-footer>
</modal>

<modal #createChallengeModal>
    <modal-header>
        <h6 class="modal-title">Create challenge</h6>
    </modal-header>
    <modal-content>
        <challenge-creator></challenge-creator>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="createChallengeModal.close()">Close</button>
    </modal-footer>
</modal>

<modal #createChangePasswordModal>
    <modal-header>
        <h6 class="modal-title">Change password</h6>
    </modal-header>
    <modal-content>
        <!--<form method="POST" action="/changePassword">-->
        <input class="validate" id="old-password" name="username" type="text" placeholder="Old password" required>
        <input class="validate" id="new-password" name="username" type="text" placeholder="New password" required>
        <input class="validate" id="matching-password" name="username" type="text" placeholder="Matching password"
               required>
        <button id="btnSubmit" (click)="changePassword()" type="submit" class="btn waves-effect waves-light col s12">
            Sign Up
        </button>
        <!--</form>-->
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="createChangePasswordModal.close()">Close</button>
    </modal-footer>
</modal>