<div *ngIf="!isLoading" id="user-panel" class="col-md-3">

    <div id="user-images">
        <div id="user-background" class="col-md-3">
            <div id="user-profile-image" class="col-offset-4 col-md-4"></div>
        </div>
    </div>


    <div id="user-panel-content">


        <div id="user-data">
            <div id="user-name">
                {{userDetails.firstName}}
                {{userDetails.lastName}}
            </div>

            <div id="user-searches">
                <div id="search-challenge">
                    <challenge-search-input></challenge-search-input>
                </div>

                <div id="search-friends">
                    <user-search-input></user-search-input>
                </div>
            </div>
        </div>
    </div>

</div>
