<div *ngIf="!isLoading" id="user-panel">
    <div id="user-panel-heading">
        <h2>Challenge</h2>
        <div class="heading-desc">your friends</div>
    </div>
    <div id="user-panel-content">
        <div id="user-data">
            <div id="avatar-wrapper">
                <img id="user-profile-image" class=""
                     src="avatars\user\{{userDetails.id}}.jpg"
                     onerror="this.src='avatars\\default\\not-found-avatar.jpg'">
                <div class="change-avatar-link" (click)="showAvatarModal()">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </div>

            </div>

            <div id="user-name" class="">
                Hello <span>{{userDetails.firstName}}</span>
                <!--{{userDetails.lastName}}-->
            </div>

            <div id="user-menu">
                <div class="user-menu-item" (click)="showChallengesList()">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <span>Challenges</span>
                </div>
                <div class="user-menu-item" (click)="showEventsList()">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Friends</span>
                </div>
                <div class="user-menu-item" (click)="showNotification()">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span>Notifications</span>
                    <span *ngIf="newNotification" class="new-notification">New!</span>
                </div>
                <a href="/logoutUser">
                    <div class="user-menu-item">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span>Logout</span>
                    </div>
                </a>

                <!--<div class="user-menu-item">-->
                    <!--<i class="fa fa-list" aria-hidden="true"></i>-->
                    <!--<span>Top Rank</span>-->
                <!--</div>-->
            </div>
            <div class="text-center" (click)="showCreateChallengeModal()">
                <div id="new-challenge-btn">
                    New challenge
                </div>
            </div>

            <!--<img class=" notification-icon" src="images\black-message.png"-->
                 <!--*ngIf="newNotification==false" (click)="showNotification()">-->
            <!--<img class=" notification-icon" src="images\red-message.png"-->
                 <!--*ngIf="newNotification==true" (click)="showNotification()">-->

            <!--<div id="user-searches">-->
                <!--<div id="search-challenge">-->
                    <!--<challenge-search-input></challenge-search-input>-->
                <!--</div>s-->

                <!--<div id="search-friends">-->
                    <!--<user-search-input></user-search-input>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div id="menu-buttons" class="">-->
                <!--<button id="button-create-challenge" class="btn btn-primary menu-button"-->
                        <!--(click)="createChallengeModal.open()">-->
                    <!--Create challenge-->
                <!--</button>-->
                <!--<button id="button-change-password" class="btn btn-primary menu-button"-->
                        <!--(click)="createChangePasswordModal.open()">-->
                    <!--Change password-->
                <!--</button>-->

            <!--</div>-->
        </div>
    </div>
</div>