<div *ngIf="!isLoading">
    <form (ngSubmit)="onSubmit()" #createChallengeForm="ngForm">
        <div>
            <input type="text" id="challenge-name" [(ngModel)]="challenge.name" name="name" #name="ngModel">
            <input type="text" id="challenge-description" [(ngModel)]="challenge.description" name="description"
                   #description="ngModel">
            <select id="challenge-category" [(ngModel)]="challenge.category" name="category" #category="ngModel">
                <option *ngFor="let challengeCategory of challengeCategoryList"
                        [value]="challengeCategory.challengeCategoryName">
                    {{challengeCategory.challengeCategoryName}}
                </option>
            </select>
            <button type="submit" id="add-challenge-button">Add Challenge</button>
        </div>
    </form>
</div>