$main-color: #dddfd4;
$notifications-color: #3fb0ac;
$notifications-dark-color: #173e43;
$accessories-color: #fae596;
$borders-color: #55ACEE;
$login-page-color: #DDDDDD;
$login-placeholder-color: #000000;

