<div *ngIf="!isLoading">
    <div *ngFor="let friendDetails of friendsList" id="friend-box" class="col-md-12">

        <div id="friend-name">
            <p>
                {{friendDetails.firstName}}
                {{friendDetails.lastName}}
            </p>
        </div>

        <div id="friend-email">
            <p>
                {{friendDetails.email}}
            </p>
        </div>
        <div id="btn-profile">
            <button id="button-show-profile" class="btn btn-primary col-md-3"
                    (click)="showProfileUser(friendDetails.id)">Show profile
            </button>
        </div>
    </div>
</div>