<div *ngIf="!isLoading">
    <div *ngFor="let friendDetails of friendsList; let i = index" id="friend-box" class="col-md-4 col-md-offset-1">
        <div id="friend-name">
            <p>
                {{friendDetails.firstName}}
                {{friendDetails.lastName}}
            </p>
        </div>

        <div id="friend-email">
            <p>
                {{friendDetails.email}}
            </p>
        </div>
        <div id="btn-profile">
            <button id="button-show-profile" class=""
                    (click)="showProfileUser(friendDetails.id)">Show profile
            </button>
        </div>
    </div>
</div>