<div *ngIf="!isLoading">
<div *ngFor="let challengeDetails of challengeList" id="challenge-box" class="col-md-10 col-md-offset-1">

    <div>
        <input value="Share on Facebook" type="button" (click)="shareChallenge(challengeDetails.id)">
    </div>


    <div class="video-player-container">
        <video-player [videoHeight]="300" [videoWidth]="500"></video-player>
    </div>

    <div id="chalenge-name" (click) = setCurrentChallengeId(challengeDetails.id)>
        <p>
            {{challengeDetails.name}}
        </p>
    </div>

    <div id="challenge-description">
        <p>
            {{challengeDetails.description}}
        </p>
    </div>

    <!--<div id="challenge-info">-->
        <!--<div id="challenge-status">-->
            <!--<p>Challenge status:</p>-->
            <!--<div id="challenge-status-data">{{challengeDetails.status}}</div>-->
        <!--</div>-->

        <!--<div id="challenge-points">-->
            <!--<p>Points value:</p>-->
            <!--&lt;!&ndash;<div id="challenge-points-data">{{challengeDetails.points})</div>&ndash;&gt;-->
        <!--</div>-->

        <!--<div id="challenge-reward">-->
            <!--<p>Reward type:</p>-->
            <!--<div id="challenge-reward-data">{{challengeDetails.rewardType}}</div>-->
        <!--</div>-->

        <!--<div id="rewart-quantity">-->
            <!--<p>Reward quantity:</p>-->
            <!--<div id="reward-quantity-data">{{challengeDetails.rewardQuantity}}</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;New fields&ndash;&gt;-->
        <!--<div id="end-date">-->
            <!--<p>End date:</p>-->
            <!--<div id="end-date-data">{{challengeDetails.endDate}}</div>-->
        <!--</div>-->

        <!--<div id="period-quantity">-->
            <!--<p>Period quantity:</p>-->
            <!--<div id="period-quantity-data">{{challengeDetails.periodQuantity}}</div>-->
        <!--</div>-->

        <!--<div id="period-util">-->
            <!--<p>Period util:</p>-->
            <!--<div id="period-util-data">{{challengeDetails.periodUnit}}</div>-->
        <!--</div>-->
    <!--</div>-->

    <div id="challenge-options">
        <div id="challenge-options-wrapper">
            <input class="btn btn-primary" id="challenge-accept-button" (click)="acceptChallenge(challengeDetails.id)"
                   type="button" value="Accept">
            <input class="btn btn-primary" id="challenge-decline-button" type="button" value="Decline">
        </div>
    </div>
</div>
</div>

<modal #challengeDetailsModal>
    <modal-header>
        <h4 class="modal-title">Challenge details</h4>
    </modal-header>
    <modal-content>
        <challenge-details [challengeId]="'1'"></challenge-details>
    </modal-content>
    <modal-footer>
        FOOTER
    </modal-footer>
</modal>