<h2>Sign in to continue.</h2>
<div id="login-container" class="">
    <div id="login" class="row">
        <div class="col s12 z-depth-6 ">
            <form id="login-form" class="login" name="f" method="POST" action="/login">
                <div class="row">
                    <label data-error="wrong" data-success="right"></label>
                </div>

                <div>
                    <label for="username">Username: </label>
                    <input class="validate" id="username" name="username" type="text" placeholder="" required>
                    <div class="clearfix"></div>
                </div>

                <div>
                    <label for="username">Password: </label>
                    <input class="validate" id="password" name="password" type="password" placeholder="" required>
                    <div class="clearfix"></div>
                </div>

                <div class="text-center">
                    <button class="confirm-button" type="submit">
                        Sign in
                    </button>
                </div>

                <!--<div class="">-->
                    <!--<div class="input-field col s12 m12 l12  login-text">-->
                        <!--<input type="checkbox" id="remember-me" />-->
                        <!--<label for="remember-me">Remember me</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="input-field col s6 m6 l6">-->
                    <!--<p class="margin right-align medium-small"><a href="forgot-password.html">Forgot password?</a></p>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
