@import "../../../sass/variables";

.top-users-container{
  max-height: 100vh;
  overflow: auto;
}

//hide scrollbar
::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}